@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    height: 100%;
    margin: 0;
  }

html {
  overscroll-behavior: none;
}

@layer utilities {
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-arrows {
    appearance: none;
    -moz-appearance: textfield;
  }

  .fade-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;

    -webkit-mask-image: linear-gradient(to left, transparent, black 20%);
    mask-image: linear-gradient(to left, transparent, black 20%);

    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    max-width: 100%;
  }
}