@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
    height: 100%;
    margin: 0;
  }

html {
  overscroll-behavior: none;
}

@layer utilities {
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-arrows {
    appearance: none;
    -moz-appearance: textfield;
  }
}
